<md-dialog id="new-shipment-dialog">
  <md-toolbar>
    <div class="md-toolbar-tools">
      <h2>Novo carregamento</h2>
      <span flex></span>
      <md-button ng-click="close()" class="md-icon-button">
        <md-icon>close</md-icon>
      </md-button>
    </div>
  </md-toolbar>
  <form name="shipmentForm" ng-submit="submit()">
    <md-dialog-content>
      <md-content class="md-padding">
        <md-input-container>
          <label>Type</label>
          <md-select ng-model="shipmentData.type" required>
            <md-option ng-value="'entry'">Entrada</md-option>
            <md-option ng-value="'exit'">Saída</md-option>
          </md-select>
          <div ng-messages="shipmentForm.type.$error">
            <div ng-message="required">Shipment type is required</div>
          </div>
        </md-input-container>
        
        <md-datepicker
          ng-model="shipmentData.scheduledFor"
          md-placeholder="Enter date"
          md-min-date="minDate"></md-datepicker>
        
        <md-autocomplete
          ng-show="shipmentData.type === 'entry'"
          class="md-block"
          md-selected-item="shipmentData.source"
          md-floating-label="Fornecedor"
          required
          
          placeholder="Nome da organização"
          md-no-cache
          md-require-match
          md-item-text="org.name"
          md-search-text="shipmentData._sourceOrgSearchText"
          md-items="org in searchOrganizationContacts(shipmentData._sourceOrgSearchText)">
          <md-item-template>
            {{ org.name }}
          </md-item-template>
        </md-autocomplete>
        
        <md-autocomplete
          ng-show="shipmentData.type === 'exit'"
          class="md-block"
          md-selected-item="shipmentData.destination"
          md-floating-label="Destinatário"
          required
          
          placeholder="Nome da organização"
          md-no-cache
          md-require-match
          md-item-text="org.name"
          md-search-text="shipmentData._destinationOrgSearchText"
          md-items="org in searchOrganizationContacts(shipmentData._destinationOrgSearchText)">
          <md-item-template>
            {{ org.name }}
          </md-item-template>
        </md-autocomplete>
        
        <!-- operations -->
        
        <section ng-show="shipmentData.type">
          <h3>Produtos</h3>
        
          <ul class="product-list">
            <li
              ng-repeat="operation in shipmentData.operations">
            
              <md-autocomplete
                class="md-block"
                md-selected-item="operation.productModel"
                md-floating-label="Nome do produto"
                required
                
                placeholder="Nome do produto"
                md-no-cache
                md-require-match
                md-item-text="item.name"
                md-search-text="operation._searchText"
                md-items="item in searchProducts(operation._searchText)">
                <md-item-template>
                  {{ item.name }}
                </md-item-template>
              </md-autocomplete>
              
              <div layout-gt-sm="row">
            
                <md-input-container>
                  <label>Quantidade</label>
                  <input
                    name="quantityValue"
                    required
                    type="number"
                    ng-model="operation.quantity.value">
                </md-input-container>
                
                <md-input-container>
                  <label>Unidade</label>
                  <md-select ng-model="operation.quantity.unit" required>
                    <md-option ng-value="'kg'">Kg</md-option>
                    <md-option ng-value="'l'">Litros</md-option>
                  </md-select>
                  <div ng-messages="operation.$error">
                    <div ng-message="required">Unit is required</div>
                  </div>
                </md-input-container>
                
                <md-datepicker
                  ng-model="operation.productExpiry"
                  md-placeholder="Validade"
                  md-min-date="minDate"></md-datepicker>
                
              </div>
              
              <!-- <md-divider></md-divider> -->
            </li>
          </ul>
          <md-button
            class="md-primary md-raised"
            ng-click="addScheduledOperation()">
            Adicionar produto
          </md-button>
        </section>
      </md-content>
    </md-dialog-content>
    <md-dialog-actions layout="row">
      <md-button ng-click="submit()">
        Create
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>